<h1>Posts</h1>


<ul>

  <app-post-list-component *ngFor="let post of postList"
                            [postTitle]="post.title"
                            [postContent]="post.content"
                            [postDate]="post.created_at"
                            [postLoveIts]="post.loveIts"></app-post-list-component>

</ul>


