<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">

    <h2>{{postTitle}}</h2>
    <p>{{postContent}}</p>

    <div class="position-absolute" style="right: 10px; top : 10px;">

        {{postDate | date:'short'}}

    </div>

    <button class="btn-success btn mr-2"
            (click)="onLoveit()"
            >Love it</button>
    <button class="btn-danger btn"
            (click)="onDontLoveit()">Don't love it</button>

</li>



